<div>
    <h2>{{post.name}}</h2>
    <span>{{post.text}}</span><br>
    <span>Posted by {{post.user.name}} on {{post.createdAt}}</span><br>
</div>
<div>
    <label>Title</label><br>
    <textarea id="title" placeholder="Post Title Text"></textarea><br>
    <label>Content</label><br>
    <textarea id="text" placeholder="Post Text Here"></textarea>
    <button id="editBtn" data-id="{{post.id}}">Submit</button>
</div>
<script src="/js/edit.js"></script>